
:root {
    --cor-principal: #743B0B;       
    --cor-secundaria: #FD7E14;     
    --cor-fundo-rodape: #D8B894;   
    --cor-texto-principal: #333;   
    --cor-texto-secundario: #777; 
    --cor-destaque: #D35400;       
}

/* --- Cabeçalho --- */
header {
    background-color: var(--cor-secundaria);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

header .logo-texto {
    display: flex;
    flex-direction: column;
}

header .logo-texto h4 a {
    color: var(--cor-principal) !important; 
    font-family: 'Jomhuria', cursive !important;
    font-weight: 400 !important;
    font-size: 2.5rem !important; 
    text-decoration: none;
    margin-bottom: 0; 
}

header .logo-texto small {
    color: var(--cor-principal) !important; 
    font-family: 'Inter', sans-serif !important;
    font-size: 0.9rem !important; 
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center;
}

header nav li {
    margin-left: 1.5rem; 
}

header nav li:first-child {
    margin-left: 0; 
}

header nav a {
    color: var(--cor-principal) !important; 
    font-family: 'Inter', sans-serif !important;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem !important; 
}

header nav a:hover {
    text-decoration: underline;
}
header .input-group input {
    font-family: 'Inter', sans-serif !important;
    color: var(--cor-texto-principal); 
    font-size: 0.9rem !important; 

header .input-group span {
    font-family: 'Inter', sans-serif !important;
    color: var(--cor-texto-principal); 
    font-size: 0.9rem !important;
}

/* --- Rodapé --- */
footer {
    background-color: var(--cor-fundo-rodape) !important; 
    padding: 20px 0;
    text-align: center;
    font-family: 'Inter', sans-serif !important;
    color: var(--cor-texto-principal) !important; 
}

footer h3,
footer p,
footer a {
    color: var(--cor-texto-principal) !important; 
    text-decoration: none;
    font-family: 'Inter', sans-serif !important;
}

footer a:hover {
    text-decoration: underline;
}

footer #rodape {
    text-align: center;
}
